/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  #box {
  flex-direction: column;
  text-align: center;
}
.event-details-title {
margin-top: 10px;
}

#purchase-tickets {
  margin-top: 20px;
}

.go-back-btn-container {
  top: 6vh;
}

}

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {

  .event-details-img {
    margin-left: 60px;
  }

#event-details-colored-box {
  padding: 20vh;
  background: #3AAFA9;
  background-clip: border-box;  
  width: 100vw;
  /* height: 60%; */
  position: absolute;
  top: 0;
  z-index: -1;
}
.date-time {
  font-size: 14px;
  color: white;

}

#box {
  margin-bottom: 40px;
}
.event-details-city-and-start-date {
  margin: 50px;
  flex: 1;
}

.go-back-btn-container {
  top: 10vh;
}

}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */


/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */



















a, article, body, div, fieldset, figcaption, figure, footer, form, header, h1, 
h2, h3, img, input, label, legend, li, nav, p, section, textarea, ul {
   border: 0;
   padding: 0;
   margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    }

html, body {
    margin: 0 auto;
    padding: 0;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    }



/* basic link setup. */
a {
  text-decoration: none;
  color: white;

}

a:hover {
    color: white;
}
  
a:active {
    color: white;
}
  
a:visited {
    color: white;
}
/* basic link setup end. */


.nav-container {
  display: flex;
  justify-content: space-between;
  background-color:#17252A;
  padding: 5px 20px;
  position: fixed;
  z-index: 999;
  width: 100vw;
}

  .container {
    margin: 50px;
  }

  .logo {
    font-size: 20px;
    font-weight: 900;
    color: #3AA;
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: 'Pacifico'; 
}

.nav-items {
  display: flex;
  justify-content: center;
  align-content: space-around;
  list-style-type: none;
  letter-spacing: normal;
  color: #2E4057;
  font-size: 20px;
}

.nav-item > a {
    text-decoration: none;
    color: white;

}

.data {
    color: white;
    font-size: 30px;
}

h5 {
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}

.weather-container {
  padding: 20px;
  padding-bottom: 350px;
  align-content: center;
  align-items: center;


}

.weather-container{width:100vw;height:100vh;text-align:center;color:#fff;background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
  url("images/Grand-Rapids.jpg");background-size:cover;background-position:center center;background-repeat:no-repeat;background-attachment:fixed}.weather-container h1{font-size:5em;margin-top:0;margin-bottom:.5em}.weather-container .btn{display:block;width:200px;padding:1em;margin-top:50px;margin-left:auto;margin-right:auto;color:#fff;text-decoration:none;font-size:1.5em;border:3px solid #fff;border-radius:20px;background-color:rgba(147,112,219,.8)}

#weather-list {
    color: darkred;
}

.forecast {
  color: white;
}

#filter {
    text-align: center;    

}

#box {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
}


/* BUTTON STYLING*/
/* BUTTON STYLING*/

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
    .btn {
      transition: none;
      color: white;

    }
  
  .btn:hover {
    color: white;
    text-decoration: none;
  }
  
  /* .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  } */
  
  .btn.disabled, .btn:disabled {
    opacity: 0.65;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #2B7A78;
    border-color: #2B7A78;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #3AAFA9;
    border-color: #3AAFA9;
  }

  .btn-primary:visited {
    color: white;
    text-decoration: none;
    color: white;
  }

  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 37, 42, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2B7A78;
    border-color: #2B7A78;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2B7A78;
    border-color: #2B7A78;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 37, 42, 0.5);
  }

  /* BUTTON STYLING OVER */
  /* BUTTON STYLING OVER */
  /* BUTTON STYLING OVER */
  /* BUTTON STYLING OVER */




  /* #detail-module {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    width: 100vw;
    height:100%;
    z-index: 9999;
    overflow-y: scroll;
    margin-left: 30%;
    top: 10vh;
} */


/* EVENT-DETAILS STYLING */
/* EVENT-DETAILS STYLING */
/* EVENT-DETAILS STYLING */
/* EVENT-DETAILS STYLING */


.card-img-top {
  border-top-left-radius: calc(0.5rem - 3px);
  border-top-right-radius: calc(0.5rem - 3px);
}

.event-details-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#text-center {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.event-details-title {
  color: #17252A;
  font-size: 80%;
  text-transform: uppercase;
  margin: 0 10px 20px 0;
  -webkit-text-stroke: 1px;
  letter-spacing: 1px;
}

.event-details-paragraph {
  padding: 0 25px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: justify;
}


.event-details-img {
  border: solid #17252A 20px;

}

.go-back-btn-container {
  width: 100vw;
  position: absolute;
  left: 3vw;

}
.back-btn-img {
  width: 6%;

}
.event-details-city-and-start-date {
  /* width: 55vw; */
  height: 20vh;
  font-size: 20px;
}

.event-details-body {
  width: 100%;
}


  .margin-left {
    margin-left: 30px;
}
.city {
  /* font-weight: 500; */
  font-size: 16px;
  color: white;
}
.date-time {
  font-size: 14px;
  color: 17252A;

}

/* EVENT-LIST STYLING */
/* EVENT-LIST STYLING */
/* EVENT-LIST STYLING */
/* EVENT-LIST STYLING */

#main-box {
  
 display: flex;
 flex-direction: row;
 flex-wrap:wrap;
 justify-content: center;

}


#filter {
  display: flex;
  font-size: 60px;
  font-weight: bolder;
  justify-content: center;
}


#box2 {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  margin: 5px;
  padding: 10px;
  width: 25vw;
 
  font-size: 0.9em;
}

#summary {
  font-size: 11px;
  width: 260px;
  text-align: center;
 
}

#title-name {
  font-size: 13px;
}

#box2:hover {
   -webkit-box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.50);
  box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.50);
}



h6 {
  text-align: center;
  font-family: 'Lato';
  font-size: 110px; 
  color: white;
  padding-right: 30px;
}

.description {
  display: flex;
  justify-content: flex-end;
}

.temp-info {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
}


 #event-list-logo {
    height: 30vh;
    width: 20vw;
    /* object-fit: contain; */
  }

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 5px;
}
  

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.slider-img {
  width: 100%;
  height: 100%;
}

.bottom-destination {
  position: absolute;
  top: 112px;
  left: 16px;
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 3px black, 1px 1px 3px black;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}
.bottom-summary {
  position: absolute;
  top: 130px;
  left: 16px;
  color: white;
  text-shadow: 1px 1px 3px black, 1px 1px 3px black;
  font-size: 12px;
  text-align: center;
}
.gr-events-title {
  font-size: 20px;
  text-align: center;
}
.event-list-name {
  width: 90%;
  text-align: center;
}



@media (min-width: 320px) and (max-width: 480px) {

 


 

}  





