
a, article, body, div, fieldset, figcaption, figure, footer, form, header, h1, 
h2, h3, img, input, label, legend, li, nav, p, section, textarea, ul {
   border: 0;
   padding: 0;
   margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif !important;
    }

html, body {
    margin: 0 auto;
    padding: 0;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100vw;
    }

/******************************************************* basic link setup. *****************************************************************/
a {
  text-decoration: none !important;
  color: white !important;

}

a:hover {
    color: white !important;
}
  
a:active {
    color: white !important;
}
  
a:visited {
    color: white !important;
}

/* basic link setup end. */

/******************************** HAMBURGER MENU **************************/
#menuToggle
{
  display: block;
  position: relative;
  top: 3vh;
  left: 2vw;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/*
 * hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  color: #17252A;
  text-align: left;
}

/*
 * slide in from left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* *******HAMBURGER MENU END ****** */


#current-time {
  color: white;
  font-size: 2vh;
  /* text-align: left; */
  margin-top: 20px;
    /* top: 1vh; */
  left: 3vw;
  position: absolute;
}





#see-more-container {
  display: flex;
  justify-content: center;

}

#footer-container {
  bottom:0;
  width:100%;
  height:20vh;   
  background:#2b7478;
  padding: 20px;
  z-index: 999;
}
.nav-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color:#17252A;
  padding: 5px 20px;
  position: fixed;
  z-index: 999;
  width: 100vw;
  top: 0;
  text-align: center;
}

  .container {
    margin: 50px;
  }

  .logo {
    font-size: 20px;
    font-weight: 900;
    color: #3AA;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#logo {
  width: 36vw;
  height: auto;
  position: absolute;
  top: 2vh;
  right: 2vh;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-content: space-around;
  list-style-type: none;
  letter-spacing: normal;
  color: #2E4057;
  font-size: 20px;
}

.nav-item > a {
    text-decoration: none;
    color: white;

}

.data {
  font-size: 15vh;
  font-weight: 900;
  }

h5 {
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}
.weather-container {
  width: 100vw;
  color: #fff;
  background-color: #3AAFA9;
  margin-top: 22vh;
  display: flex;
  padding: 20px 20px 20px 27px;
  height: 100%;
  flex-direction: column;
  text-align: center;
}
.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.temp-info {
  display: flex;
  justify-content: flex-start;
  padding-top: 130px;
}
.grand-rapids {
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
}
.app-info-text {
  display: flex;
  flex-direction: column;
  /* margin-left: 50px; */
  margin-top: 2%;
}
.welcome-message-title {
  color: #17252A;
  font-size: 4vh;
  -webkit-text-stroke: 2px;
  letter-spacing: 2px;
  line-height: 4vh;
  font-weight: 900;
  text-transform: uppercase;
}
.welcome-message-paragraph {
  line-height: 18px;
  margin-top: 20px;
}
#rec-events-title {
  font-size: 2vh;
  line-height: initial;
  font-weight: 500;
}
.weather-container h1{
  font-size:5em;
  margin-top:0;
}

#event-list-colored-box {
  height: 80%;
  background: #3AAFA9; 
  background-clip: border-box;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

#weather-list {
    color: darkred;
}
#weather-conditions {
  font-size: 3vh;
  margin-top: -3vh;
  font-weight: 100;
}
.forecast {
  color: white;
  padding: 3px 5px 0px 5px;
}
.forecast-title {
  color: white;
}
.forecast-result-container {
  display: flex;
  flex-direction: row;
}
.extended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6vh;
  margin-bottom: 1vh;
}

#filters {
  margin-left: 10vw;
  text-align: center;
  display: flex;
  height: 11vh;
  width: 80vw;
  justify-content: space-around;
  background: #2E4057;
  align-items: center;
  font-size: 1.5em;
}

#box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

/* BUTTON STYLING*/

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
    .btn {
      transition: none;
      color: white;

    }
  
  .btn:hover {
    color: white;
    text-decoration: none;
  }
  
  .btn.disabled, .btn:disabled {
    opacity: 0.65;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
  }
  


  .btn-primary {
    color: #fff;
    background-color: #2B7A78!important;
    border-color: #2B7A78!important;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #3AAFA9!important;
    border-color: #3AAFA9!important;
  }

  .btn-primary:visited {
    color: white;
    text-decoration: none;
    color: white;
  }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 37, 42, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2B7A78;
    border-color: #2B7A78;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2B7A78;
    border-color: #2B7A78;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 37, 42, 0.5);
  }
/* EVENT-DETAILS STYLING */

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.5rem - 3px);
  border-top-right-radius: calc(0.5rem - 3px);
}
.gr-events-card-img-top {
  height: 100px;
  width: 100%;
  border-top-left-radius: calc(0.5rem - 3px);
  border-top-right-radius: calc(0.5rem - 3px);
}
.gr-events-card {
  width: 300px;
  height: 300px;
}
.team-card {
  padding: 10px;
}
.card-body {
  width: 21vw;
  text-align: center;
  width: 100%;
}
.row {
  justify-content: space-evenly;
  margin: 0 !important;
}
.event-details-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#text-center {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.event-details-title {
  color: #17252A;
  font-size: 90%;
  text-transform: uppercase;
  margin: 0 10px 20px 0;
  -webkit-text-stroke: 2px;
  letter-spacing: 1px;
}

.event-details-paragraph {
  padding: 0 25px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: justify;
}


.event-details-img {
  border: solid #17252A 20px;

}

.go-back-btn-container {
  width: 100vw;
  position: absolute;
  left: 3vw;

}

.event-details-city-and-start-date {
  /* width: 55vw; */
  height: 20vh;
  font-size: 20px;
}

.event-details-body {
  width: 100%;
}

#see-more {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 50px 0 50px 0;
}
  /* .margin-left {
    margin-left: 30px;
} */
.city {
  font-size: 16px;
  color: white;
}
.event-details-date-time {
  font-size: 14px;
  color: #17252A;

}

/* EVENT-LIST STYLING */
#main-container {
 display: flex;
 flex-direction: row;
 flex-wrap:wrap;
 justify-content: center;

}

#box5 {
  position: relative;
  font-family: Arial
} 


#filter {
  display: flex;
  font-size: 60px;
  font-weight: bolder;
  justify-content: center;
}


#event-list-container {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 5px;
  padding: 10px;
  width: 100%;
  /* font-size: 2vh; */
  /* font-weight: 900; */
}

#summary {
  font-size: 11px;
  width: 260px;
  text-align: center;
 
}

#title-name {
  font-size: 13px;
}

#event-list-container:hover {
   -webkit-box-shadow: inset 0px 0px 12px -3px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0px 0px 12px -3px rgba(0,0,0,0.50);
  box-shadow: inset 0px 0px 12px -3px rgba(0,0,0,0.50);
}

#event-list-logo {
  object-fit: cover;
  width: 47vw;
  height: 25.7vh;
}
.event-list-free {
  /* font-size: 1.75vh; */
  font-size: 1.5vh;
  line-height: 0vh;
}
#event-list-btn {
  font-size: 1vh;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
 /* transition: all 0.2s ease; */
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}


.bottom-destination {
  position: absolute;
  text-align: center;
  /* left: 5px; */
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 3px black, 1px 1px 3px black;
  font-size: 1.75vh;
  /* text-align: center; */
  letter-spacing: 1px;
  top: 6%;
  line-height: 1.5vh;
  width: 100%;
}
.bottom-summary {
  position: absolute;
  /* left: 5px; */
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black, 1px 1px 3px black;
  font-size: 1.5vh;
  bottom: -1.5vh;
  line-height: 1.8vh;
  width: 100%;
}
.gr-events-title {
  font-size: 20px;
  text-align: center;
}
.event-img-container {
  width: 100%;
}
.event-card-info {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -12%;
  /* align-items: center; */
}
.event-list-name {
  /* width: 100%; */
  text-align: center;
  font-size: 80%;
  font-weight: 900;
  text-transform: capitalize;
  width: 71%;
}
.event-list-venue {
  font-size: 1.7vh;
  line-height: initial;
  margin-top: -8px;
}
.event-list-date-time {
  font-size: 1.5vh;
  line-height: 2vh;
}

.event-list-name p:focus {
font-size: 1em;
}
 /* SLIDER STYLING */

 .slider-frame {
  background-color: #3AAFA9;
  position: relative;
  margin: 0;
  overflow: hidden;
  margin-top: -1vh;
}

.slider-frame .button {
  width: 40px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  z-index: 998;
}

.slider-frame .button.prev {
  left: 0px;
}

.slider-frame .button.next {
  right: 0px;
}

.slider-frame .slider-container {
  transition: margin-left .2s ease, left .5s ease;
  position: absolute;
  left: 0;
}

.slider-frame .slider-container .slide {
  background-color: #17252A;
  float: left;
  position: relative;
  top: 0;
  transition: width .2s ease, height .2s ease, top .2s ease;
}

.slider-frame .slider-container .slide:nth-child(even) {
  background-color: #17252A;
}
hr{
	width:100px;
}

.prev .fa{
  margin-top: 124px;
    
    padding-left: 7px;
}

.next .fa{
     margin-top: 124px;
    padding-left: 12px;
}
.button{
  cursor:pointer;
} 
img.slider-img {
  width: 100%;
  height: 100%;
}
/* SLIDER STYLING END */


.meet-the-team {
  margin-top: 10vh;
  margin-bottom: 20vh;

}

.meet-the-team-container {
  flex-direction: column;
    display: flex;
  justify-content: space-evenly;
  padding: 30px;
  text-align: center;
  align-items: center;
}
.meet-the-team-title-container {
  padding: 20px;
  line-height: 1px;
  text-align: center;
}
.meet-the-team-title {
  /* color: #17252A;*/
  color:white; 
  font-size: 8vh;
  -webkit-text-stroke: 2px;
  letter-spacing: 2px;
  line-height: 100%;
  width: 95%;
  font-weight: 900;
}
.meet-the-team-paragraph {
  width: 90%;
  line-height: 18px;
  margin-top: 20px;
}
.card-title {
  color: #17252A;
  font-weight: 900;
  margin-bottom: -3px;
}

.gr-event-list-title-container {
  /* display: flex; */
  margin-top: 12vh;
  padding: 20px;
  background-color: #3AAFA9;
  text-align: center;
}
.gr-event-list-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  margin-bottom: 100px;
}
.card-text {
  color:#17252A;
}
.card {
  margin: 0px 0px 20px 0px;
}
.gr-list {
  padding: 10px;
}
#gr-event-list-colored-box {
  padding: 20vh;
  background: #3AAFA9;
  background-clip: border-box;  
  width: 100vw;
  /* height: 60%; */
  position: absolute;
  top: 0;
  z-index: -1;
}
#event-button {
  margin-top: 15px;
}
#footer-container {
  bottom:0;
  width:100%;
  height:20vh;   /* Height of the footer */
  background:#2b7478;
  padding: 20px;
  z-index: 999;
}



/* Extra extra small devices (phones, 600px and down) */
@media only screen and (min-width: 764px) {

  #event-top {
    margin: 13vh 0 3vh 0;
  }

  .event-details-body h3 {
    margin-top: 45px;
  }

  .go-back-btn-container {
  top: 15vh;
  }
  .back-btn-img {
  width: 15%;
  }

  .forecast.ng-scrope:nth-child(even) {
    color:white; 
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) {
  
  #box {
  flex-direction: column;
  text-align: center;
}
.event-details-title {
margin-top: 10px;
}

#purchase-tickets {
  margin-top: 20px;
}

.go-back-btn-container {
  top: 10vh;
}
#event-top {
  margin-top: 10vh;
}
.back-btn-img {
  width: 6%;
}


}

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {

  .event-details-img {
    margin-left: 60px;
  }

#event-details-colored-box {
  padding: 20vh;
  background: #3AAFA9;
  background-clip: border-box;  
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
.date-time {
  font-size: 14px;
  color: white;

}

#box {
  margin-bottom: 40px;
}
.event-details-city-and-start-date {
  margin: 50px;
  flex: 1;
}

.go-back-btn-container {
  top: 6vh;
}

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}



@media (min-width: 320px) and (max-width: 480px) {


  /* #event-list-logo {
    display: none;
  } */
  
  #filter {
    font-size: 0.5em;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

.description {
  display: flex;
  justify-content: center;
}

.temp-info {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.logo {
  font-size: 12px; 
}

.forecast {
  font-size: 12px; 
  padding-left: 15px;
}
} 

@media only screen and (min-width: 768px) {
  #logo {
    width: 20vw;
  }
  .forecast-result-container {

    justify-content: center;
}

.meet-the-team-container {
  flex-direction: row;
}
#event-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 43px;
  padding: 10px;
  width: 100%;
  width: 300px;
  height: auto;
  text-align: center;
  justify-content: center;
  width: 75%;
}
.event-img-container {
  width: 100%;
  width: 300px;
}
#event-list-logo {
  object-fit: cover;
  width: 300px;
  height: 200px;
}
.event-card-info {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  width: 300px;
  text-align: left;
}
.event-list-name {
  width: 100%;
  font-size: 2vh;
}
.event-list-venue {
  font-size: 1.7vh;
  line-height: initial;
  margin-bottom: 19px;
  text-align: center;
}
.event-list-date-time {
  font-size: 1.5vh;
  line-height: 2vh;
  margin: 0;
}
.event-list-free {
  font-size: 1.5vh;
  line-height: 2vh;
}
#footer-container {
  bottom:0;
  width:100%;
  height:20vh;   /* Height of the footer */
  background:#2b7478;
  padding: 20px;
  z-index: 999;
}

}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #logo {
    width: 20vw;
  }
  .forecast-result-container {

    justify-content: center;
}
.meet-the-team-container {
  flex-direction: row;
}
#event-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 43px;
  padding: 10px;
  width: 100%;
  width: 300px;
  height: auto;
  text-align: center;
}
.event-img-container {
  width: 100%;
  width: 300px;
}
#event-list-logo {
  object-fit: cover;
  width: 300px;
  height: 200px;
}
.event-card-info {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  width: 300px;
  text-align: left;
}
.event-list-name {
  width: 100%;
  font-size: 2vh;
}
.event-list-venue {
  font-size: 1.7vh;
  line-height: initial;
  margin-bottom: 19px;
  text-align: center;
}
.event-list-date-time {
  font-size: 1.5vh;
  line-height: 2vh;
  margin: 0;
}
.event-list-free {
  font-size: 1.5vh;
  line-height: 2vh;
}
  .weather-container {
    width: 100vw;
    color: #fff;
    background-color: rgba(350,350, 350,.3);
    margin-top: 276vh;
    display: flex;
    padding: 20px;
    height: 100%;
    flex-direction: column;
    text-align: center;
  }
  .data {
    text-shadow: 7px 4px 5px black;
  }
  #weather-conditions {
    font-size: 3vh;
    margin-top: -3vh;
    font-weight: 100;
    text-shadow: 2px 3px 3px black;
  }
  .welcome-message-title {
    color: white;
    font-size: 6vh;
    -webkit-text-stroke: 2px;
    letter-spacing: 4px;
    line-height: 7vh;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 7px 4px 5px black;
    padding: 20px;
    /* width: 75%; */
    /* align-content: center; */
  }
  .welcome-message-paragraph {
    color: #17252A;
    line-height: 18px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    line-height: 3.6vh;
    background-color: white .5px;
    background-color: rgba(350,350, 350,0.7);
    padding: 20px;
    border-radius: 13px;
  }
 
  
  
  .hero{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#fff;
    background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)),url("./images/Grand-Rapids.jpg");
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed}
    .hero h1{
      font-size:5em;
      margin-top:0;
      margin-bottom:.5em
    }
    /* .hero .btn{
      display:block;
      width:200px;
      padding:1em;
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      color:#fff;
      text-decoration:none;
      font-size:1.5em;
      border:3px solid #fff;
      border-radius:20px;
      background-color:rgba(147,112,219,.8)
    } */
    #footer-container {
      bottom:0;
      width:100%;
      height:20vh;   
      background:#2b7478;
      padding: 20px;
      z-index: 999;
    }
    
}
